

body{
    background-image: url('images/bg-desktop-light.jpg');
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.dark-mode {
    background-image: url('images/bg-desktop-dark.jpg');
    background-repeat:no-repeat;
    background-color: hsl(235, 24%, 19%);
}
.dark-mode-list{
    background-color: hsl(235, 24%, 19%);
    color:white;
    border-bottom: solid 1px grey;


}

.content{
   margin: 5% ;
}

.header{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    letter-spacing: 10px;
}

svg {
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.5s;
   
}

.night-mode:hover{
   fill: #dd2d2d;
   transform: scale(1.2);
   border-radius: 100%;
   background-color: white;
   opacity: 50%;
   box-shadow: 3px 3px rgb(101, 2, 131);
}

.entry{
    background-color: white;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5px;
    display: flex;
    align-items: center;

}

.circle{
    height: 20px;
    width: 20px;
    background: white;
    border: solid 1px hsl(233, 11%, 84%);
    border-radius: 100px;
    outline: none;
    margin: 15px;
}

.circle:hover{
    background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

.entry input{
    border: none;
    width: 70%;
    font-size: 18px;
    outline: none;
}

.list{
    background-color: white;
    border-radius: 5px;
    border: solid 1px hsl(0, 0%, 98%);
    box-shadow: 0px 10px 10px hsl(236, 33%, 92%);
}

.item{
    display: flex;
    align-items: center;
    border-bottom: solid 1px  hsl(236, 33%, 92%);
  
}



